* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator {
    background-image: radial-gradient(pink,aliceblue);
    padding-top: 10%;
    padding-bottom: 30%;
    padding-left: 30%;
    padding-right: 40%;
}

#calculator #display {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:1020px) {
    #calculator{
        padding-top: 30%;
        padding-bottom: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    #calculator #display {
        display: grid;
        grid-template-columns: 1fr;
    }
}
